{% extends 'index.html' %}
{% block title %}{{ title }}{% endblock %}
{% block contents %}
<thead>
    <tr>
        {% for header in table_headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for content in table_content %}
        <tr>
            <td>{{ content.id }}</td>
            <td>{{ content.name }}</td>
            <td>
                <a href="{% url 'status_update' status.id %}">Изменить</a>
                <a href="{% url 'status_delete' status.id %}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}