{% extends 'templates/index.html' %}
{% block title %}{{ title }}{% endblock %}
{% block contents %}
<thead>
    <tr>
        {% for header in table_headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for content in table_content %}
        <tr>
            <td>{{ content.id }}</td>
            <td>{{ content.status }}</td>
            <td>
                <a href="{% url 'status_update' content.id %}">Edit</a>
                <form method="post" action="{% url 'status_delete' content.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this status?');">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}