# Environment
.venv/
.env

# Django
db.sqlite3

# Python
__pycache__
*.pyc

# uv
uv.lock

# Build files
project_4.egg-info*

# Logger (automatically created by Django in settings.py via delay: True)
debug.log
