{% extends 'index.html' %}
{% block title %}{{ title }}{% endblock %}
{% block contents %}
<thead>
    <tr>
        {% for header in table_headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for content in table_content %}
        <tr>
            <td>{{ content.id }}</td>
            <td>{{ content.label }}</td>
            <td>
                <a href="{% url 'label_update' content.id %}">Изменить</a>
                <a href="{% url 'label_delete' content.id %}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}