{% extends 'layout.html' %}
{% load custom_tags %}
{% block title %}List{% endblock %}
{% block main %}
{% comment %}
<div class="container">
    <h1 class="mt-5 mb-4">{{ header }}</h1>
    <form method="post"
    action="{% url form_action %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label"><h4>{{ field.label }}</h4></label>
                {{ field|add_class:'form-control' }}
                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors.0 }}
                </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-3">{{ button_create }}</button>
    </form>
</div>
{% endcomment %}
<a class="btn btn-primary mb-3" href="{% url form_action %}">{{ button_create }}</a>
<div class="container">
    <div class="card urls-card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle mb-0" data-test="urls">
                    {% block contents %}{% endblock %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}