{% extends 'layout.html' %}
{% load custom_tags %}
{% block title %}Update{% endblock %}
{% block main %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors.0 }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% comment %}
            {% for field, label in form_fields %}
            <div class="mb-3">
                <label for="{{ field }}" class="form-label">{{ label }}</label>
                <input type="text" class="form-control" id="{{ field }}"
                      name="{{ field }}" value="{{ form.instance|getattribute:field }}" placeholder="Enter {{ label }}">
              </div>
            {% endfor %}
            {% endcomment %}
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}