{% extends 'layout.html' %}
{% block title %}Create Task{% endblock %}
{% block main %}
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_name" class="form-label">Имя</label>
          <input type="text" class="form-control" id="id_name" name="name" placeholder="Enter name">
        </div>
        <div class="mb-3">
          <label for="id_status" class="form-label">Статус</label>
          <select class="form-control" id="id_status" name="status">
            {% for status in statuses %}
              <option value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="id_executor" class="form-label">Исполнитель</label>
          <select class="form-control" id="id_executor" name="executor">
            {% for executor in executors %}
              <option value="{{ executor.id }}">{{ executor.username }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="id_labels" class="form-label">Ярлык</label>
          <select class="form-control" id="id_labels" name="labels" multiple>
            {% for label in labels %}
              <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="id_description" class="form-label">Описание</label>
          <textarea class="form-control" id="id_description" name="description" placeholder="Enter description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{ button }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}