{% extends 'index.html' %}
{% load custom_tags %}
{% block title %}{{ title }}{% endblock %}
{% block search %}{% include 'search.html' %}{% endblock %}
{% block contents %}
{% if filter.qs %}
<thead>
    <tr>
        {% for header in table_headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for task in filter.qs %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task_show' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>
                {% for label in task.labels.all %}
                {{ label }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ task.creator.first_name }} {{ task.creator.last_name }}</td>
            <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
            <td>{{ task.description }}</td>
            <td>
            <a href="{% url 'task_update' task.id %}">Изменить</a>
            <a href="{% url 'task_delete' task.id %}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
{% else %}
{% endif %}
{% endblock %}